.style-scope.ytd-rich-grid-renderer{
    --ytd-rich-grid-items-per-row: 6;
}

#contents > ytd-rich-grid-row,#contents > ytd-rich-grid-row > #contents {
    display: contents;
}

#items.ytd-grid-renderer>ytd-grid-video-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]) {
    display: none;
}